.email-article__message {
	margin: 32px 0 16px;
}

.email-article__message-label {
	display: block;
	font-size: 16px;
	margin-bottom: 16px;
}

.email-article__message-characters {
	float: right;
	font-size: 13px;
}

.email-article__message-characters--limited {
	color: red;
}

.email-article__message-textarea {
	@include oTypographySans(s);
	min-height: 130px;
}

.email-article__message-image {
	max-width: 200px;
}

@include oGridRespondTo(M) {
	.email-article__message-image {
		width: 30%;
		float: left;
	}
	.email-article__message-image + .email-article__message-textarea {
		width: 65%;
		float: right;
	}
}
