.email-article__message {
	margin: 32px 0 16px;
}

.email-article__message--label {
	display: block;
	font-size: 16px;
	margin-bottom: 16px;
}

.email-article__message--characters {
	float: right;
	font-size: 13px;
}

.email-article__message--characters-limited {
	color: getColor('crimson');
}

.email-article__message--textarea {
	@include oTypographySans($scale: 0);
	min-height: 130px;
}
