@import "./gift-or-not-selection";
@import "./email-address-list";
@import "./footnote";
@import "./custom-message";

.email-article {

	background-color: #fdf8f2;
	color: #333333;
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);

	&.email-article--open {
		max-height: 920px;
		transition: max-height 0.5s ease-in;
		overflow: hidden;
	}

	&.email-article--closed {
		max-height: 0;
		transition: max-height 0.5s ease-out;
		overflow: hidden;
	}

	.email-article__border {
		border: solid 1px #cec6b9;
	}

	.email-article__close {
		float: right;
		margin: 8px 8px 0 0;
		border: 0;
		padding: 0;

		i {
			@include oIconsGetIcon('cross', #333333, 12);
			text-indent: 100%;
			overflow: hidden;
		}
	}

	.email-article__container {
		padding: $spacing-unit;
	}

	.email-article__title {
		font-size: 20px;
		font-weight: normal; // overrides user agent's default styling
		margin: 0 0 20px;
	}

	.email-article__section-break {
		border-top: solid 1px #c0b0a4;
	}

	.email-article__submit {
		width: 100%;
		margin: ($spacing-unit * 1.5) 0 $spacing-unit;
		text-transform: none;
		font-size: 16px;
	}

}
