$o-forms-is-silent: false;
@import "n-ui/forms/main";

.gift-or-not {

	.gift-or-not__option {
		margin: $spacing-unit 0;
	}

	.gift-or-not__option-icon {
		position: absolute;
		top: 1px;

		&.gift-or-not__option-icon--gift {
			@include oIconsGetIcon('gift', #c0b0a4, 23);
		}

		&.gift-or-not__option-icon--non-gift {
			@include oIconsGetIcon('email', #c0b0a4, 23);
		}
	}

	.gift-or-not__label.o-forms__label {
		margin-right: 0; // overrides o-forms
	}

	.gift-or-not__option-text {
		position: relative;
		padding-left: 35px;
		font-size: 15px;
		line-height: 18px;
	}

	// the UX would like just the label icon faded out, leaving the label text alone
	.o-forms__radio:disabled + .o-forms__label {
		opacity: 1;
		.gift-or-not__option-icon {
			opacity: 0.4;
		}
	}

	.gift-or-not__gift-note {
		margin-top: 2px;
		font-size: 13px;
	}

	.gift-or-not__gift-count {
		font-weight: 600; // semi bold
	}

}
