html,
body {
	min-width: 100%;
	min-height: 100%;
	background-color: getColor('paper');
}

.demos__config,
.demos__article {
	float: left;
	width: 375px;
	margin: 16px;
	padding: 16px;
	background-color: getColor('white');
}

.demos__config-title,
.demos__article-title {
	margin-top: 0;
}

.demos__email {
	margin: 0 0 16px;
}
