@import "next-sass-setup/main";

html, body {
	min-height: 100%;
}

body {
	background-color: #ddd;
}

#root {
	width: 375px;
	padding: 30px;
}

.demos__email {
	border: 0;
	padding: 0;
	margin: 16px 0;

	i {
		@include nextIcon(email, #333333, 22);
		text-indent: 100%;
		overflow: hidden;
	}
}
