@import "n-ui/env";

html,
body {
	min-width: 100%;
	min-height: 100%;
	background-color: #dddddd;
}

.demos__config,
.demos__article {
	float: left;
	width: 375px;
	margin: $spacing-unit;
	padding: $spacing-unit;
	background-color: #ffffff;
}

.demos__config-title,
.demos__article-title {
	margin-top: 0;
}

.demos__email {
	border: 0;
	padding: 0;
	margin: 0 0 16px;

	i {
		@include oIconsGetIcon('email', #333333, 22);
		text-indent: 100%;
		overflow: hidden;
	}
}
